<div class="panel panel-primary">
    <div class="panel-heading">Event Details:</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2"><strong>Event Name :</strong></div>
            <div class="col-sm-7"><strong>{{event.name}}</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Organiser :</strong></div>
            <div class="col-sm-7"><strong>{{event.organiser}}</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Venue :</strong></div>
            <div class="col-sm-7"><strong>{{event.venue}}</strong></div>
        </div>
        <div class="row">
            <div class="col-sm-2"><strong>Details :</strong></div>
            <div class="col-sm-7"><strong>{{event.details}}</strong></div>
        </div>
    </div>
</div>
<hr>